<%= render "lives/header" %>
<%= render 'lives/sidenav', user: @user, class:"col s1" %>
  <div class="container-user col s11">
    <div class="container-user__box">
      <table border="1px" bordercolor="#ff0000" class="container-user__box__table">
        <caption>All Users</caption>
          <tr>
            <th>User ID</th>
            <th>Nickname</th>
          </tr>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><a href="<%= user_path(id: user.id) %>"><%= user.nickname %></a></td>
            </tr>
          <% end %>
    </div>
  </div>