<div class="main-contents-container">
  <div class="main-contents-container__box">
    <div class="main-contents-container__box__wrapper center">
      <div class="main-contents-container__box__wrapper__image">
        <% if @live.image? %>
          <%= image_tag @live.image_url, class:"circle", size:"200x200" %>
        <% else %>
          <%= image_tag "/assets/home_logo.JPG", class:"circle", size:"200x200" %>
        <% end %>
      </div>
      <div class="main-contents-container__box__wrapper__title">
        <p class="content-title">Live Title</p>
        <%= @live.name %>
      </div>
      <% if @live.date? %>
        <div class="main-contents-container__box__wrapper__date">
          <p class="content-title">Date</p>
          <%= @live.date.strftime("%Y/%m/%d(%a)") %>
        </div>
      <% end %>
      <% if @live.concept? %>
        <div class="main-contents-container__box__wrapper__concept">
          <p class="content-title" >concept</p>
          <%= @live.concept %>
        </div>
      <% end %>
      <% if @live.target? %>
        <div class="main-contents-container__box__wrapper__target">
          <p class="content-title" >Target Customer</p>
          <%= @live.target %>
        </div>
      <% end %>
      <% if @live.budget? %>
        <div class="main-contents-container__box__wrapper__budget">
          <p class="content-title" >Budget</p>
          <%= @live.budget.to_s(:delimited) %>円
        </div>
      <% end %>
      <div class="main-contents-container__box__wrapper__edit">
        <%= link_to "edit live concept","/users/#{@current_user.id}/lives/#{@live.id}/edit", class:"btn" %>
      </div>
    </div>
  </div> 
</div>
