<div class="main-contents-container">
  <div class="main-contents-container__box">
    <div class="main-contents-container__box__wrapper center">
      <div class="main-contents-container__box__wrapper__image">
        <% if @live.image? %>
          <%= image_tag @live.image_url, class:"circle", size:"200x200" %>
        <% else %>
          <%= image_tag "/assets/home_logo.JPG", class:"circle", size:"200x200" %>
        <% end %>
      </div>
      <div class="main-contents-container__box__wrapper__title">
        <p class="content-title">Live Title</p>
        <%= @live.name %>
      </div>
      <% if @live.date? %>
        <div class="main-contents-container__box__wrapper__date">
          <p class="content-title">Date</p>
          <%= @live.date.strftime("%Y/%m/%d(%a)") %>
        </div>
      <% end %>
      <% if @live.open_time? %>
        <div class="main-contents-container__box__wrapper__date col s6">
          <p class="content-title">Open time</p>
          <%= @live.open_time.strftime("%H:%m") %>
        </div>
      <% end %>
      <% if @live.start_time? %>
        <div class="main-contents-container__box__wrapper__date col s6">
          <p class="content-title">Start time</p>
          <%= @live.start_time.strftime("%H:%m") %>
        </div>
      <% end %>
      <% if @live.place? %>
        <div class="main-contents-container__box__wrapper__date col s6">
          <p class="content-title">Place</p>
          <%= @live.place %>
        </div>
      <% end %>
      <% if @live.price? %>
        <div class="main-contents-container__box__wrapper__date col s6">
          <p class="content-title">Price</p>
          <%= @live.price.to_s(:delimited) %>円
        </div>
      <% end %>
      <% if @live.entertainers? %>
        <div class="main-contents-container__box__wrapper__date">
          <p class="content-title">Entertainers</p>
          <%= @live.entertainers %>
        </div>
      <% end %>
      <% if @live.concept? %>
        <div class="main-contents-container__box__wrapper__concept">
          <p class="content-title" >concept</p>
          <%= @live.concept %>
        </div>
      <% end %>
      <% if @live.target? %>
        <div class="main-contents-container__box__wrapper__target">
          <p class="content-title" >Target Customer</p>
          <%= @live.target %>
        </div>
      <% end %>
      <% if @live.budget? %>
        <div class="main-contents-container__box__wrapper__budget col s6">
          <p class="content-title" >Budget</p>
          <%= @live.budget.to_s(:delimited) %>円
        </div>
      <% end %>
      <% if @live.file_place? %>
        <div class="main-contents-container__box__wrapper__date col s6">
          <p class="content-title">File place</p>
          <%= link_to @live.file_place, target: :_blank %>
        </div>
      <% end %>
      <% if @live.memo? %>
        <div class="main-contents-container__box__wrapper__date">
          <p class="content-title">Other memo</p>
          <%= @live.memo %>
        </div>
      <% end %>
      <div class="main-contents-container__box__wrapper__edit col s12">
        <%= link_to "edit live concept","/users/#{@current_user.id}/lives/#{@live.id}/edit", class:"btn edit" %>
        <%= link_to "delete project","/users/#{@current_user.id}/lives/#{@live.id}/", class:"btn red delete", method:"delete" %>
      </div>
    </div>
  </div> 
</div>
