<div class="header z-depth-3">
  <div class="row header__container ">
    <div class="header__container__user-info col s3">
      <div class="header__container__user-info__image">
        <%if current_user.image?%>
          <%= image_tag current_user.image_url, size:"100x100", class: "circle"%>
        <% else %>
          <%= image_tag "/assets/home_logo.JPG",size:"100x100", class:"circle" %>
        <% end %>
      </div>
      <div class="header__container__user-info__profile">
        <p><%= current_user.nickname %></p>
      </div>
    </div>
    <div class="header__container__task-info col s6">
      <div class="header__container__task-info__box z-depth-3">
        <ul class="header__container__task-info__box__tasks">
          <% if session[:live_id] %>
            <li class="livetitle"><%= Live.find(session[:live_id]).name %></li>
            <p>Your Tasks</p>
            <% current_user.tasks.where(live_id: session[:live_id]).each do |task| %>
              <li class="checkbox-row">
                  <% if task.finish == true %>
                    <label>
                      <input name="session[finish]" type="hidden" value="false">
                      <input type="checkbox" class="filled-in" name="session[finish]" id="session_finish" value="true" data-remote="true" data-url="/toggle_finish/<%= task.id %>" data-method="POST" checked/>
                      <span></span>
                    </label>
                  <% else %>
                    <label>
                      <input name="session[finish]" type="hidden" value="false">
                      <input type="checkbox" class="filled-in" name="session[finish]" id="session_finish" value="true" data-remote="true" data-url="/toggle_finish/<%= task.id %>" data-method="POST"/>
                      <span></span>
                    </label>
                  <% end %>
                <a class="truncate"><%= link_to task.content, "/tasks/#{task.id}" %></a>
              </li>
            <% end %>
          <% else %>
            <p>お知らせをご覧ください。</p>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="header__container__function col s3">
      <div class="header__container__function__menu">
        <ul class="header__container__function__menu__list ">
          <li class="waves-effect waves-teal"><%= link_to "Home", "/users/#{current_user.id}/lives" %></li>
          <li class="waves-effect waves-teal"><%= link_to "New Live", "/users/#{current_user.id}/lives/new" %></li>
          <li class="waves-effect waves-teal"><%= link_to "All Users", "/users" %></li>
          <li class="waves-effect waves-teal"><%= link_to "Logout", current_user_destroy_path, method:"DELETE" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
