<%# サイドバー %>
  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <%=image_tag "/assets/home_logo.JPG", size:"200x200" %>
      </div>
      <a href="#user">
      <% if @current_user.image? %>
        <%= image_tag @current_user.image_url, class:"circle" %>
      <% else %>
        <%= image_tag "/assets/home_logo.JPG", class:"circle" %>
      <% end %>
      </a>
      <a href="#name"><span class="black-text name"><%= @current_user.nickname %> </span></a>
      <%# <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a> %>
    </div></li>
    <li><a href= "/users/<%= @current_user.id %>"><i class="material-icons">account_circle</i>Account Information</a></li>
    <%# <li><a class="subheader"> Lives </a></li> %>
    <li><a href="" class=" subheader " data-no-turbolink="true" > Live Titles </a></li>
    <li><div class="divider"></div></li>
    <% @current_user.staff_lives.each do |live| %>
      <li><a href="/users/<%=@current_user.id%>/lives/<%= live.id %>" class="waves-effect"><%= live.name %></a></li>
    <% end %>
  </ul>
  <div class="sidenavbar waves-effect sidenav-trigger z-depth-3" data-target="slide-out">
    <div class="rotate">
      <a href="#" data-target="slide-out" class="sidenav-trigger white-text center-align">
        menu
      </a>
    </div>
  </div>


  