<div class="main-contents-container">
  <div class="main-contents-container__staff">
    <% @live.users.each do |user| %>
      <div class="staff-cards s12 m6 l4">
        <div class="card">
          <div class="card__image center">
            <% if user.image? %>
              <%= image_tag user.image.url, class:"user-image", size:"200x200" %>
            <%else%>
              <%= image_tag "/assets/home_logo.JPG", size:"200x200"  %>
            <% end %>
            <p class="card-title center"><%= user.nickname %> </p>
          </div>
          <div class="card__content">
            <p class="content__content__title">Tasks</p>
            <ul class="card__content__tasks left tasks">
              <% user.tasks.where(live_id: @live.id).each do |task| %>
                <li>
                    <% if task.finish == true %>
                      <label>
                        <input name="session[finish]" type="hidden" value="false">
                        <input type="checkbox" class="filled-in" name="session[finish]" id="session_finish" value="true" data-remote="true" data-url="/toggle_finish/<%= task.id %>" data-method="POST" checked/>
                        <span></span>
                      </label>
                    <% else %>
                      <label>
                        <input name="session[finish]" type="hidden" value="false">
                        <input type="checkbox" class="filled-in" name="session[finish]" id="session_finish" value="true" data-remote="true" data-url="/toggle_finish/<%= task.id %>" data-method="POST"/>
                        <span></span>
                      </label>
                    <% end %>
                    <%# <span></span> %>
                  <a class="truncate"><%= task.content %></a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
