<%= render "lives/header" %>
<div class="row contents">
  <%= render 'lives/sidenav', class:"col" %>
  <div class="main-contents-new col">
    <div class="main-contents-new__input">
      <div class="main-contents-new__input__box">
      <%= form_with model:[@user, @live], url: user_lives_path, local: true do |f| %>
        <form>

          <%# タイトル %>
          <p class="title center">
            New Project
          </p>
          <%# メッセージ %>
          <p class="message center red-text">
            「※」mark is necessary to register.
          </p>
          <%= render 'layouts/error_messages', model: f.object %>

          <%# ライブ名 %>
          <div class="row name">
            <div class="input-field col s12">
              <%= f.text_field :name, id:"name", type:"text", class:"validate" %>
              <%= f.label :name, "※Project name", class:"red-text" %>
            </div>
          </div>

          <%# 日付 %>
          <div class="row date">
            <div class="input-field col s12">
              <%= f.text_field :date, class:"datepicker", name:"live[date]" %>
              <%= f.label :date , "Project Date"%>
            </div>
          </div>

          <%# コンセプト %>
          <div class="row concept">
            <div class="input-field col s12">
              <%= f.text_field :concept, id:"concept", type:"text"%>
              <%= f.label :concept, "Concept" %>
            </div>
          </div>

          <%# 画像 %>
          <div class="row image">
            <%= f.label :image ,value:"Project image, logo" %>
            <div class="input-field col s12">
              <div class="file-field input-field">
                <div class="btn">
                  <span>File</span>
                  <%= f.file_field :image %>
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>
            </div>
          </div>

          <%# ターゲット %>
          <div class="row concept">
            <div class="input-field col s12">
              <%= f.text_field :target, id:"target", type:"text"%>
              <%= f.label :target, "Target Customer" %>
            </div>
          </div>

          <%# 予算 %>
          <div class="row concept">
            <div class="input-field col s12">
              <%= f.text_field :budget, id:"budget", type:"text"%>
              <%= f.label :budget, "Budget" %>
            </div>
          </div>

          <%# スタッフ %>
          <div class="row search">
            <div class="input-field search-field col s12">
              <textarea id="user-search-field" class=" search-field__input materialize-textarea" placeholder="Input who to add for staff." name="keyword"></textarea>
              <label for="staff">Add Live Staffs</label>
            </div>
          </div>
          <div class="row" id="search-result">
            <div id="user-search-result">
            </div>
          </div>


          <%# サブミットボタン %>
          <div class="row submit-button center">
            <button class="btn waves-effect waves-light" type="submit" name="action">new project
              <i class="material-icons right">send</i>
            </button>
          </div>

        </form>
      <% end %>
      </div>
    </div>
  </div> 
</div>