<% cache current_user, expires_in: 1.minutes, skip_digest: true do %>
  <%= render "lives/header" %>
<% end %>
<div class="row contents">
  <% cache current_user, expires_in: 1.minutes, skip_digest: true do %>
    <%= render 'lives/sidenav', class:"col s1" %>
  <% end %>
  <div class="main-contents ">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a href="#concept">concept</a></li>
          <li class="tab col s3"><a href="#tasks">tasks</a></li>
          <li class="tab col s3"><a href="#staff">staff</a></li>
          <li class="tab col s3"><a href="#calender">calender</a></li>
        </ul>
      </div>
        <% cache @live.concept, expires_in: 1.minutes, skip_digest:true do %>
          <div id="concept" class="col s12 tab-contents">
            <%= render partial: "lives/concept" %>
          </div>
        <% end %>
        <% cache @live.tasks , expires_in: 1.minutes, skip_digest:true do %>
          <div id="tasks" class="col s12 tab-contents">
            <%= render partial: "tasks/index" %>
          </div>
        <% end %>
        <% cache @live.users, expires_in: 1.minutes, skip_digest:true do %>
          <div id="staff" class="col s12 tab-contents">
            <%= render partial: "lives/staff" %>
          </div>
        <% end %>
        <% cache @live, expires_in: 1.minutes, skip_digest:true do %>
          <div id="calender" class="col s12 tab-contents">
            <%= render partial: "lives/calender" %>
          </div>
        <% end %>
    </div>
  </div> 
</div>