<!DOCTYPE html>
<html>
  <head>
    <title>Livetasks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="background-color">
    <body>
      <%# フラッシュ %>
      <% if flash[:notice] %>
        <div class="flash center">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <%= yield %>
    </body>
  </div>
</html>
